@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  --color-automatic: #202124;
  --color-red: #5c2b29;
  --color-orange: #614a19;
  --color-yellow: #635d19;
  --color-green: #345920;
  --color-blue: #2d555e;
  --color-purple: #5b2245;
  --color-black: #000000;
  --color-gray: #3c3f43;
  --color-greenish-blue: #1e3a5f;
  --color-grey: #442f19;
  --color-white: #ffffff;
  --color-nav-haver: #6495ed;
  --color-btn: #6495ed;
  --color-btn-log-hover: #ad1712;
  --bg-header: #db4c3f;
  --bg-home: #fafafa;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-home);
  height: 100%;
  font-size: 15px;
  font-weight: 600;
  font-family: "Chivo Mono", monospace;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button:disabled {
  opacity: 0.7;
  cursor: progress;
}

/* loader */
.loader {
  width: 100%;
}
.loader-inner {
  animation: loader-inner 1s linear infinite;
  border: 2px solid #fff;
  border-radius: 50%;
  border-right: 2px solid transparent;
  border-left: 2px solid transparent;
  height: 20px;
  width: 20px;
  margin: 0 auto;
}
/* loader-inner */
@keyframes loader-inner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* end loader */
/*  header */
.header-nav {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 25px;
  width: 100%;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav .nav-items {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: space-between;
  max-width: 250px;
  width: 100%;
}

.header-nav .nav-items li:not(:last-child) {
  margin-right: 5px;
}

.nav-link {
  color: var(--color-white);
  font-size: 1.1rem;
  font-weight: 500;
}
.item-link {
  transition: all 0.3s ease;
}

.item-link:hover {
  transform: scale(1.3);
}

.nav-link.active {
  color: var(--color-nav-haver);
}

.header-clock {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-clock span {
  padding-right: 0.3rem;
}

.header-clock .clock {
  font-size: 0.8rem;
  color: white;
  font-weight: 400;
}

.btn-login {
  background-color: transparent;
  color: var(--color-white);
  font-size: 18px;
  font-weight: 700;
  border: 1px solid transparent;
  transition: all 0.3s ease;
  border-radius: 8px;
  padding: 5px 15px;
  cursor: pointer;
}

.App-header {
  width: 100%;
  background-color: var(--bg-header);
  box-shadow: -14px -9px 20px 3px rgba(0, 0, 0, 0.897);
}

/* sidebar */
.sidebar {
  width: 100%;
  max-width: 250px;
}

.sidebar-container {
  margin-bottom: 1rem;
}

.sidebar-date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.calendar {
  display: flex;
  align-items: center;
}
.day {
  font-size: 3rem;
  font-weight: 600;
}

.my {
  margin-right: 0.3rem;
}

.month {
  font-size: 1.6rem;
  font-weight: 500;
}

.yea {
  font-size: 1rem;
  font-weight: 400;
}
.today {
  font-size: 1rem;
  font-weight: 500;
}

.sidebar-menu {
  margin-bottom: 1rem;
}

.menu-nav {
  padding-left: 0.5rem;
}
.menu-nav:not(:last-child) {
  margin-bottom: 1rem;
}
.nav-item {
  display: flex;
  align-items: center;
}
.nav-item__icon {
  margin-right: 0.3rem;
  vertical-align: top;
}

.nav-item__text {
  color: #747474;
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
}

.active {
  background: #fff;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.active span svg,
.active span {
  color: #000 !important;
}

/* end sidebar */

.add-task {
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}

.nav-user .user_name {
  font-size: 1.1rem;
  color: white;
  font-weight: 600;
  text-transform: capitalize;
}

.form-input {
  position: relative;
}

.input-task {
  background-color: rgb(231, 231, 231);
  height: 45px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  border: 0;
  border-radius: 10px;
  padding: 0 25px 0 10px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
}

.input-task:focus {
  background-color: rgb(255, 255, 255);
  outline: none;
  color: #000000;
}

.input_submit {
  position: absolute;
  top: 5px;
  right: 10px;
  background-color: cornflowerblue;
  border-radius: 50px;
  border: 0;
  font-size: 12px;
  color: #fff;
  width: 38px;
  height: 36px;
  cursor: pointer;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 60%), 0 2px 6px 2px rgb(0 0 0 / 30%);
}

.input_submit:active {
  transform: scale3d(0.95, 0.95, 1);
}

.todo-list {
  margin: 50px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 25px;
  width: 100%;
}

.todo-list-header {
  margin-bottom: 20px;
}

.todo-list-header h2 {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  color: #fff;
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .todo-list {
    padding: 0 10px;
  }
}

/* potion color */

.todo-options {
  position: relative;
}

.options-color {
  margin: 10px 0;
  display: inline-block;
}

.options-color-btn {
  cursor: pointer;
  width: max-content;
  display: inline-block;
  margin: 0 5px;
  transition: all 0.3s ease;
}
.options-color-btn:hover {
  color: var(--color-btn);
}

.options-color-btn:active {
  transform: scale3d(1, 1, 1);
}

.option-active {
  color: var(--color-btn);
}

.color-options-group {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
  background-color: #202124;
  width: 100%;
  border-radius: 5px;
  padding: 5px 0;
  position: absolute;
  left: 0;
  top: 50px;
}

.color-option {
  border-radius: 50px;
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.3s ease;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 35px;
  height: 35px;
}

.color-option:hover {
  border: 2px solid #ffffff;
}

.color-default-option {
  border: 1px solid #5f6368;
  opacity: 1 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-default-option svg {
  color: var(--color-white);
}

.color-default {
  background-color: rgb(255, 255, 255);
  border: 1px solid #5f6368;
  color: var(--color-black);
}

.color-automatic {
  background-color: var(--color-automatic);
  border: 1px solid #5f6368;
  color: var(--color-white);
}

.color-red {
  background-color: var(--color-red);
  border: 1px solid var(--color-red);
  color: var(--color-white);
}

.color-orange {
  background-color: var(--color-orange);
  border: 1px solid var(--color-orange);
  color: var(--color-white);
}

.color-yellow {
  background-color: var(--color-yellow);
  border: 1px solid var(--color-yellow);
  color: var(--color-white);
}

.color-green {
  background-color: var(--color-green);
  border: 1px solid var(--color-green);
  color: var(--color-white);
}

.color-greenish-blue {
  background-color: var(--color-greenish-blue);
  border: 1px solid var(--color-greenish-blue);
  color: var(--color-white);
}

.color-blue {
  background-color: var(--color-blue);
  border: 1px solid var(--color-blue);
  color: var(--color-white);
}

.color-purple {
  background-color: var(--color-purple);
  border: 1px solid var(--color-purple);
  color: var(--color-white);
}

.color-grey {
  background-color: var(--color-grey);
  border: 1px solid var(--color-grey);
  color: var(--color-white);
}

/* todo-install */

.todo-install {
  margin: 10px 0;
  width: max-content;
  display: inline-block;
}

.install-btn {
  cursor: pointer;
  margin: 0 5px;
  transition: all 0.3s ease;
}

.todo-list-body .todos {
  margin-top: 4rem;
}

.todo-list-body .todos h6 {
  color: var(--color-white);
  font-size: 1rem;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0;
}

/* note-items */

.note-items {
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2rem 0;
  overflow-wrap: break-word;
}

.note {
  padding: 0 14px;
}

.todo-list-group__item {
  margin: 1rem;
  border-radius: 8px;
  overflow: hidden;
  min-height: auto;
  width: 240px;
}

.todo-list-group__item_active .todo-list-group__item-title {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.todo-list-potions__item {
  margin: 10px 0;
}

.delete-todo-list {
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  height: 24px;
}

.delete-todo-list:hover {
  color: var(--color-red);
}

.color-red .delete-todo-list:hover {
  color: #000 !important;
}

.install-todo-list {
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  height: 24px;
  margin-right: 15px;
}
.install-todo-list:hover {
  color: var(--color-green);
}

.todo-list-group__item-title-text {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.todo-list-group__item-notation {
  padding-bottom: 10px;
}

/*  auth sign */

.auth-section {
  margin-top: 2rem;
  text-align: center;
}

.auth-section__header {
  margin-bottom: 1rem;
  text-align: left;
  height: 80px;
}

.auth-section__title {
  font-size: 2.3rem;
  font-weight: 600;
  color: #000;
  margin-bottom: 1rem;
}

.auth-section__your-account {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: #000;
}

.auth-section__link {
  color: #305a92;
}

.auth-section__account {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.auth-section__account h3 {
  padding-right: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: #000;
}

.auth-section__form {
  max-width: 300px;
  width: 100%;
  margin: 1rem auto 0 auto;
}

.form-control {
  margin-bottom: 2rem;
}

.form-control__input {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-control__input label {
  text-transform: capitalize;
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
  font-weight: 500;
  color: #000;
}

.input-control {
  width: 100%;
  height: 2.5rem;
  border-radius: 4px;
  border: 0;
  background-color: #d7e1ee65;
  padding: 0.4rem;
  font-size: 1rem;
  font-weight: 500;
}

.input-control:focus {
  outline: 0;
}

.form__submit {
  margin-top: 2rem;
}

.btn-submit {
  width: 100%;
  border: 0;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  background-color: #305a92;
  height: 2.5rem;
  border-radius: 4px;
  cursor: pointer;
  text-transform: capitalize;
}

.error_msg {
  margin-top: 0.5rem;
}

.error_msg p {
  color: red;
  font-size: 11px;
  font-weight: 400;
}
